.table {
	table {
		table-layout: fixed;
	}
	tbody {
		tr,
		td {
			/* Needs to be consistent with height set in game-row.tsx ugh. TODO: fix that. */
			height: 60px;
			max-height: 60px;
			min-height: 60px;
		}
	}
	overflow-y: scroll;
}

.engineWrapper {
	overflow: hidden;
	text-align: center;
}

.engineBrand {
	font-weight: bold;
	text-transform: uppercase;
}

.engineVersion {
	font-family: monospace;
	font-size: var(--mantine-font-size-xs);
	text-transform: lowercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 0 0.5em;
}

.engineDetails {
	font-size: 10px;
	opacity: 0.5;
	text-transform: lowercase;
}

.nameCell {
	min-width: 10em;
	word-break: break-word;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.2em;
	align-items: center;
	justify-content: center;
	max-height: 2.5em;
}

.tag {
	font-size: 8px;
	font-weight: 300;
	padding: 3px;
	line-height: 1;
	background-color: var(--mantine-color-dark-7);
	border-radius: 3px;
	text-transform: uppercase;
	white-space: nowrap;
}

.dateCell {
	text-align: center;
	font-size: 0.75em;
	opacity: 0.75;
}

.thumbnailCell {
	overflow: hidden;
	padding: 0;
	position: relative;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		width: 100%;
		height: 100%;
	}
}

.thumbnailForeground {
	z-index: 1;
	object-fit: contain;
}

.thumbnailBackground {
	filter: blur(5px);
	z-index: 0;
	object-fit: cover;
}

.thumbnailFallback {
	z-index: 1;
	object-fit: cover;
}
