.mantine-Code-root {
	border-radius: var(--mantine-radius-md);
}

.mantine-Indicator-indicator {
	pointer-events: none;
}

.tabler-icon {
	width: 1.5em;
	height: 1.5em;
}

.mantine-Table-td {
	.tabler-icon {
		width: 1.1em;
		height: 1.1em;
	}
}

.mantine-CodeHighlight-root {
	border-radius: var(--mantine-radius-md);
}

.mantine-CodeHighlight-copy {
	/* Mantine auto-hides the copy button on narrow screens.
	I don't want that */
	display: flex;
}
