body {
  --background-dark: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-8)
  );
}

svg {
  font-size: 1.5em;
}

*::-webkit-scrollbar {
  width: var(--mantine-spacing-md);
}

*::-webkit-scrollbar-track {
  background: var(--background-dark);
  border-top-right-radius: var(--mantine-radius-md);
  border-bottom-right-radius: var(--mantine-radius-md);
}

*::-webkit-scrollbar-thumb {
  border-width: 3px;
  border-color: var(--background-dark);
  border-style: solid;
  background: var(--mantine-color-dark-2);
  border-radius: var(--mantine-radius-md);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--mantine-color-dark-1);
}
