div.table {
	padding: 0;
	flex: 1;
	user-select: none;

	table {
		table-layout: fixed;
	}

	td {
		cursor: pointer;
	}

	thead {
		background: var(--background-dark);
	}
}

.sortable {
	cursor: pointer;
	&:hover {
		background: light-dark(
			var(--mantine-color-gray-3),
			var(--mantine-color-dark-7)
		);
	}
}
