.heart {
	color: var(--mantine-color-red-9);
	animation: pulse 3s;
	will-change: transform;
}

@keyframes pulse {
	70% {
		transform: scale(1);
	}

	75% {
		transform: scale(2);
	}

	80% {
		transform: scale(1);
	}

	85% {
		transform: scale(2);
	}

	90% {
		transform: scale(1);
	}
}

.thanksButton {
	flex-grow: 1;
}

.patronAvatar {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	border: 3px solid currentColor;
	display: block;
}

.patronMedal {
	position: absolute;
	left: -15px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.patronName {
	word-break: break-word;
}
