.dropdown {
	max-width: 100%;
}

.dropdownContent {
	width: 100vw;
	margin-inline: calc(50% - 50vw);
	overflow-x: scroll;
}

.filterColumn {
	flex-shrink: 0;
}

.filterTitle:global(.mantine-Text-root) {
	white-space: nowrap;
}
