.root {
	flex: 1;
	min-height: 0;
}

.scrollArea {
	flex: 1;
	min-height: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.filterColumn {
	flex-shrink: 0;
}

.filterTitle :global(.mantine-Accordion-label) {
	white-space: nowrap;
	padding: 0;
}
